<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>All Users</title>

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="navbar-text" th:text="${authUser.name}" style="color: white" >
        ${name}
    </div>

    <div class="navbar-text" style="color: white">

        &nbsp with roles: &nbsp
    </div>

    <div class="navbar-text" th:text="${authUser.getRoles()}" style="color: white">
        ${roles}
    </div>
    <form class="btn ml-auto">
        <buttont class="btn btn-outline-dark" ><a href="/logout" style="color: gray" >Logout</a></buttont>
    </form>
</nav>
<br/>


<div class="row">


    <div class="col-md-2">
        <ul class="nav nav-pills flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#adminPage" role="tab" data-toggle="pill">Admin</a>
            </li>
            <li>
                <a class="nav-link" href="#userPage" role="tab" data-toggle="pill">User</a>
            </li>
        </ul>
    </div>


    <div class="tab-content col-md-10">

        <div role="tabpanel" id="adminPage" class="tab-pane active">
            <h1>Admin panel</h1>
            <br/>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#usersTable" role="tab" data-toggle="tab">Users table</a>
                </li>
                <li>
                    <a class="nav-link" href="#NewUser" role="tab" data-toggle="tab">New user</a>
                </li>
            </ul>



            <div class="tab-content border" >
                <div role="tabpanel" id="usersTable" class="tab-pane active">
                    <br/>
                    <h4>All users</h4>
                    <br/>
                    <div class="table-responsive">
                        <div class="table-responsive col-md-12">
                    <table class="table table-striped" id="AllUsers">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone number</th>
                            <th>Password</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>

                        <tr th:each="user:${allUsers}">
                            <td th:text="${user.getId()}" id="userID">id</td>
                            <td th:text="${user.getName()}" id="userName">User name</td>
                            <td th:text="${user.getEmail()}" id="userEmail">Email</td>
                            <td th:text="${user.getPhoneNumber()}" id="phoneNumber">Phone Number</td>
                            <td th:text="${user.getPassword()}" id="userPassword">Password</td>
                            <td th:text="${user.getRoles()}" id="userRoles">Roles</td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#Edit" th:attrappend="data-target=${user.getId()}">
                                    Edit
                                </button>
                                <div class="modal" id="Edit" tabindex="-1" role="dialog"
                                     th:attrappend="id=${user.getId()}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <form th:method="post"
                                                  th:action="@{/admin/save}">
                                                <div class="modal-body">
                                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="id" class="form-control-label">ID</label>
                                                        <input type="text" class="form-control"  th:name="id"
                                                               th:value="${user.getId()}" id="id">
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="name"
                                                               class="form-control-label">Name</label>
                                                        <input type="text" class="form-control"
                                                               th:name="Name"
                                                               th:value="${user.getName()}" id="newName">
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="email"
                                                               class="form-control-label">Email</label>
                                                        <input type="text" class="form-control"
                                                               th:name="Email"
                                                               th:value="${user.getEmail()}" id="newEmail">
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="phoneNumber"
                                                               class="form-control-label">Phone number</label>
                                                        <input type="text" class="form-control"
                                                               th:name="PhoneNumber"
                                                               th:value="${user.getPhoneNumber()}" id="newPhone_Number">
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="password"
                                                               class="form-control-label">Phone number</label>
                                                        <input type="text" class="form-control"
                                                               th:name="Password"
                                                               th:value="${user.getPassword()}" id="newPassword">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                    <button type="submit" class="btn btn-info">Edit</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#Delete" th:attrappend="data-target=${user.getId()}">
                                    Delete
                                </button>
                                <div class="modal" id="Delete" tabindex="-1" role="dialog"
                                     th:attrappend="id=${user.getId()}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleDelete">Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <form th:method="post"
                                                  th:action="@{/admin/remove}"
                                                  id="removeForm">
                                                <input type="hidden" th:name="id" th:value="${user.getId()}">
                                                <div class="modal-body">
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="name"
                                                               class="form-control-label">Name</label>
                                                        <input type="text" class="form-control"
                                                               th:name="username"
                                                               th:value="${user.getName()}" id="removeUsername" readonly>
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="email"
                                                               class="form-control-label">Email</label>
                                                        <input type="text" class="form-control"
                                                               th:name="email"
                                                               th:value="${user.getEmail()}" id="removeUserEmail" readonly>
                                                    </div>
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label for="phoneNumber"
                                                               class="form-control-label">Phone number</label>
                                                        <input type="text" class="form-control"
                                                               th:name="phonenumber"
                                                               th:value="${user.getPhoneNumber()}" id="removeUserNumber" readonly>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                    <button type="submit" class="btn btn-danger">Delete</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="tab-pane container-fluid" role="tabpanel" id="NewUser">
                    <br/>
                    <h4>New User</h4>
                    <br/>
                    <form th:method="POST" th:action="@{/admin/add}" th:object="${newUser}" class="form-group mr-auto ml-auto col-3">

                        <strong><label for="name">Enter name: </label></strong>
                        <input type="text" th:field="*{name}" id="name" class="form-control" style="background-color: whitesmoke"/>


                        <strong><label for="email">Enter email: </label></strong>
                        <input type="text" th:field="*{email}" id="email" class="form-control" style="background-color: whitesmoke"/>

                        <strong><label for="phoneNumber">Enter phone number: </label></strong>
                        <input type="text" th:field="*{phoneNumber}" id="newPhoneNumber" class="form-control" style="background-color: whitesmoke"/>


                        <strong><label for="password">Enter password: </label></strong>
                        <input type="password" th:field="*{password}" id="password" class="form-control" style="background-color: whitesmoke"/>

                        <strong><label for="Role">Role:  </label></strong>
                        <select th:object="${newRole}" th:field="*{name}" class="custom-select" id="Role" style="background-color: whitesmoke">
                            <option th:value="USER">User</option>
                            <option th:value="ADMIN">Admin</option>
                        </select>
                        <br/>
                        <br/>
                        <button class="btn btn-success" type="submit" value="Add new user">Add new user</button>
                        </td>
                        <button class="btn btn-success"type="reset" value="Clear">Clear</button>
                        </td>
                    </form>
                </div>
            </div>

        </div>
        <div role="tabpanel" id="userPage" class="tab-pane">
            <div class="container-fluid">
                <h1>User information-page</h1>

                <table border="3" class="table table-striped table-hover">
                    <tr>
                        <th>id</th>
                        <th>User name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Password</th>
                        <th>Roles</th>
                    </tr>

                    <tr>
                        <td th:utext="${authUser.id}">id</td>
                        <td th:utext="${authUser.name}">User name</td>
                        <td th:utext="${authUser.email}">Email</td>
                        <td th:utext="${authUser.phoneNumber}">Phone number</td>
                        <td th:utext="${authUser.password}">Password</td>
                        <td th:utext="${authUser.getRoles()}">Roles</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>